<form class="main-form" [formGroup]="myForm">
  <h1>Crear noticia</h1>

  <div class="row col-12">
    <mat-form-field>
      <mat-label>Título</mat-label>
      <input matInput placeholder="" formControlName="title" />
      <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field style="width: 100%" class="my-2">
    <mat-label>Bajada de título</mat-label>
    <input matInput placeholder="" formControlName="subtitle" />
    <!-- <mat-error *ngIf="subtitle.invalid && (subtitle.dirty || subtitle.touched)"
      >Campo obligatorio</mat-error
    > -->
  </mat-form-field>

  <br />

  <mat-form-field style="width: 100%">
    <mat-label>Cuerpo</mat-label>
    <textarea
      matInput
      placeholder="Escriba el contenido de la noticia..."
      formControlName="body"
    ></textarea>
  </mat-form-field>

  <mat-form-field style="width: 50%">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="reportType">
      <mat-option *ngFor="let type of reportTypes" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br />
  <br />

  <mat-checkbox formControlName="isPrimary">Noticia destacada</mat-checkbox>

  <h3 class="my-3">Información del publicador</h3>

  <div class="row">
    <div class="col-md-6">
      <mat-form-field style="width: 100%">
        <mat-label>Nombre y apellido</mat-label>
        <input matInput placeholder="" formControlName="publisherName" />
        <mat-error
          class="mat-error"
          *ngIf="
            publisherName.invalid &&
            (publisherName.dirty || publisherName.touched)
          "
        >
          <div *ngIf="publisherName.hasError('required')">
            {{ getErrorMessage() }}
          </div>
          <div *ngIf="publisherName.hasError('pattern')">
            El campo solo debe contener letras.
          </div>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field style="width: 100%">
        <mat-label>Cargo</mat-label>
        <mat-select formControlName="publisherJob">
          <mat-option *ngFor="let job of jobPositions" [value]="job">
            {{ job }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="footer-buttons">
    <button mat-raised-button class="my-2" (click)="close()">Cancelar</button>

    <button mat-raised-button color="primary" class="my-2" (click)="saveForm()">
      Guardar
    </button>
  </div>
</form>
